<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServiceName"
			 value="aspnet_state"/>
		<add key="MailServer"
			 value="localhost"/>
		<add key="MailServerPort"
			 value=""/>
		<add key="MailServerUserName"
			 value=""/>
		<add key="MailServerPassword"
			 value=""/>
		<add key="MailTo"
			 value="0nline4help@gmail.com"/>
		<add key="MailFrom"
			 value="0nlline4help@gmail.com"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IOrderService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:47718/OrderService.svc"
					  binding="basicHttpBinding"
					  bindingConfiguration="BasicHttpBinding_IOrderService"
					  contract="TOrderService.IOrderService"
					  name="BasicHttpBinding_IOrderService" />
		</client>
	</system.serviceModel>
</configuration>